.info-button {
	border-radius: 5px;
	height: 3vh;
	border: none;
	color: aliceblue;
}

.info-button:hover {
	cursor: pointer;
}

.blue-button {
	background-color: deepskyblue;
}

.black {
	color: black;
}

.red-button {
	background-color: crimson;
}

.button-link {
	text-decoration: none;
}

a:visited,
a {
	color: black;
	text-decoration: none;
}

#return {
	border: 2px solid deepskyblue;
	background-color: transparent;
}
