.author-display {
	font-style: italic;
}

.post-button-wrap {
	margin-top: 20px;
	display: flex;
}

.post-button-wrap > * {
	margin-right: 5px;
}

.post-tag {
	font-weight: bold;
	font-style: italic;
	border: 2px solid salmon;
	border-radius: 5px;
}
