.input-wrap {
	margin: 10px;
}

#user-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#user-form > input,
#user-form > textarea {
	margin-bottom: 20px;
}

.tag-check:hover {
	cursor: pointer;
}

.message {
	border-radius: 3px;
	color: white;
	width: fit-content;
	height: fit-content;
	padding: 2px;
}

.error {
	background-color: red;
}

.success {
	background-color: green;
}
