{%extends 'base.html'%}
<!-- Title block-->
{%block title%}
<title>Edit User Form</title>
{%endblock%}
<!-- Link block -->
{%block links%}
<link rel="stylesheet" href="/static/user-form.css" />
<link rel="stylesheet" href="/static/button.css" />
{%endblock%}
<!-- Content block -->
{%block content%}
<h1>Edit User</h1>
<form action="/users/{{user.id}}/edit" id="user-form" method="POST">
	<label for="first-name-input">First Name:</label>
	<input
		type="text"
		id="first-name-input"
		name="first-name-input"
		value="{{user.first_name}}"
		required
	/>
	<label for="last-name-input">Last Name:</label>
	<input
		type="text"
		id="last-name-input"
		name="last-name-input"
		value="{{user.last_name}}"
		required
	/>

	<label for="url-input">Photo URL:</label>
	<input
		type="url"
		id="url-input"
		name="url-input"
		value="{{user.image_url}}"
	/>
	<div>
		<a href="/users/{{user.id}}" class="button-link">
			<button type="button" class="info-button red-button">Cancel</button>
		</a>
		<button type="submit" class="info-button blue-button">
			Save Changes
		</button>
	</div>
</form>
{%endblock%}
