{%extends 'base.html'%}
<!-- Title block-->
{%block title%}
<title>Edit Tag Form</title>
{%endblock%}
<!-- Link block -->
{%block links%}
<link rel="stylesheet" href="/static/user-form.css" />
<link rel="stylesheet" href="/static/button.css" />
{%endblock%}
<!-- Content block -->
{%block content%}
<h1>Edit Tag</h1>
{%for category, message in get_flashed_messages(with_categories=true)%}
<div class="message {{category}}">
	<span>{{message}}</span>
</div>
{%endfor%}
<form action="/tags/{{tag.id}}/edit" id="user-form" method="POST">
	<label for="name-input">Name:</label>
	<input
		type="text"
		id="name-input"
		name="name-input"
		value="{{tag.name}}"
		required
	/>

	<div>
		<button type="submit" class="info-button blue-button">Update</button>
		<a href="/tags" class="button-link">
			<button type="button" class="info-button red-button">Cancel</button>
		</a>
	</div>
</form>
{%endblock%}
