{%extends 'base.html'%}
<!-- Title Block -->
{%block title%}
<title>Tag List</title>
{%endblock%}

<!-- Links Block -->
{%block links%}
<link rel="stylesheet" href="/static/button.css" />
<link rel="stylesheet" href="/static/tag-list.css" />
{%endblock%}
<!-- Content Block -->
{%block content%}
<h1>Tags</h1>
{%for category, message in get_flashed_messages(with_categories=true)%}
<div class="message {{category}}">
	<span>{{message}}</span>
</div>
{%endfor%}
<ul>
	{%for tag in tags%}
	<li>
		<a href="/tags/{{tag.id}}">{{tag.name}}</a>
	</li>
	{%endfor%}
</ul>

<a href="/tags/new" class="button-link">
	<button class="info-button blue-button">Add Tag</button>
</a>
{%endblock%}
