{%extends 'base.html'%}
<!-- Title block -->
{%block title%}
<title>{{user.first_name}}'s Display</title>
{%endblock%}
<!-- Link block -->
{%block links%}
<link rel="stylesheet" href="/static/button.css" />
<link rel="stylesheet" href="/static/user-display.css" />
{%endblock%}
<!-- Content block -->
{%block content%}
<div id="body-wrap">
	<img src="{{user.image_url}}" alt="user's Image" />
	<div id="info-wrap">
		<h1>{{user.full_name}}</h1>
		<a href="/users/{{user.id}}/edit" class="button-link">
			<button class="info-button blue-button">Edit</button>
		</a>
		<form action="/users/{{user.id}}/delete" method="POST" id="delete-form">
			<button class="info-button red-button" type="submit">Delete</button>
		</form>
		<h2>Posts</h2>
		<ul>
			{% if user.posts%}
			<!-- for loop -->
			{%for post in user.posts%}
			<li>
				<a href="/posts/{{post.id}}">{{post.title}}</a>
			</li>
			{%endfor%}
			<!-- endfor -->
			{%endif%}
		</ul>
		<a href="/users/{{user.id}}/posts/new" class="button-link">
			<button class="info-button blue-button">Add Post</button>
		</a>
	</div>
</div>
{%endblock%}
